@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #8c8282;
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    position: relative;
    display: flex;
    justify-content: center; /* Horizontal */
    align-items: center;     /* Vertikal */
    height: 50vh;
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: #332e34;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 70px;
}

.back {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.back:hover {
    background-color: #67b1ff;
}